.name {
    text-align: center;
    font-size: 25px;
    margin-top: 200px;
}

#title {
    margin-top: -10px;
}

.own {
    display: flex;
}

.own div {
    flex: 1;
}

.own a {
    text-decoration: none;
}

#owns a:hover {
    background-color: #ddd;
    color: black;
}

#container {
    margin: auto;
    max-width: 900px;
    margin-top: 300px;
}