h1 {
    text-align: center;
    font-size: 56px;
}

#home {
    background-color: #404258;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 72px;
    margin-bottom: 50px;
}

#about {
    background-color: #474E68;
}

.hobby {
    display: flex;
    margin: 50px 0px;
}

#hobbyimage {
    width: 50%;
    display: flex;
    justify-content: center;
}

.my {
    margin-right: 20px;
    width: 50%;
    color: white;
}

@media screen and (max-width: 800px) {
    .hobby {
        flex-direction: column;
    }

    #hobbyimage {
        width: 100%;
    }

    .my {
        width: 100%;
        text-align: center;
    }
}

#who {
    background-color: #50577A;
}

.so {
    color: white;
    width: 50%;
    text-align: center;
    margin-left: 20px;
}

#whoimage {
    width: 50%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .hobby {
        flex-direction: column;
    }

    .so {
        width: 90%;
    }

    #whoimage {
        width: 100%;
    }
}

#dog {
    background-color: #474E68;
}

#dogimage {
    width: 50%;
    display: flex;
    justify-content: center;
}

#other {
    width: 40%;
    color: white;
    margin: 200px 0px;
}

@media screen and (max-width: 800px) {
    .hobby {
        flex-direction: column;
    }

    #dogimage {
        width: 100%;
    }

    #other {
        width: 80%;
        margin: auto;
    }
}