#home {
    background-color: #404258;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 72px;
    margin-bottom: 50px;
}

#contact {
    background-color: #6B728E;
}

#contacts {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

h2 {
    color: #5C2000;
}

p {
    color: white;
}

#image {
    width: 50%;
}

.images {
    display: flex;
    margin-top: 50px;
}

.images div img {
    margin-top: 12px;
    margin-right: 10px;
}

#input {
    background-color: white;
    padding: 40px 50px 20px 40px;
    border-radius: 8px;
}

.box {
    width: 100%;
    padding: 10px 10px;
}

.box1 {
    width: 100%;
    padding: 10px 10px 50px 10px;
}

.first input {
    border: 2px solid rgb(231, 187, 106);
    border-radius: 8px;
    margin-top: 15px;
}

#button {
    text-align: center;
    margin-top: 20px;
}

#button button {
    background-color: #EF6D58;
    border: 2px solid #EF6D58;
    border-radius: 8px;
    color: white;
    padding: 10px 50px;
}

@media screen and (max-width: 800px) {
    #contacts {
        flex-direction: column;
    }

    #image {
        width: 100%;
    }

    .images {
        margin: auto;
        margin-left: 10px;
    }

    #input {
        width: 50%;
        margin: auto;
    }
}

#contact1 {
    background-color: #50577A;
}

.contactlast {
    display: flex;
    margin: 60px 0px 60px 100px;
}

#contactlist1 {
    margin-left: 50px;
}

#contactlist2 {
    margin-left: 120px;
}

#contactlist3 {
    margin-left: 95px;
}

@media screen and (max-width:800px) {
    .contactlast {
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    #contactlist1 {
        margin-left: -10px;
    }

    #contactlist2 {
        margin-left: -20px;
    }

    #contactlist3 {
        margin-left: -10px;
    }
}