h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

p {
    color: white;
    line-height: 30px;
}

#home {
    background-color: #404258;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 72px;
    margin-bottom: 50px;
}

#content1 {
    background-color: #474E68;
}

.contents {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

#spiderman {
    width: 50%;
    margin: auto;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightcontent {
    width: 50%;
    padding: 5vw 3vw;
}

@media screen and (max-width: 800px) {
    .contents {
        flex-direction: column;
    }

    .image {
        width: 100%;
    }

    .rightcontent {
        margin: auto;
        width: 80%;
        text-align: center;
        padding: 0 3vw;
    }
}

#content2 {
    background-color: #50577A;
}

#infinite {
    width: 50%;
    margin: auto;
}

#content3 {
    background-color: #474E68;
}

#raging {
    width: 50%;
    margin: auto;
}