/*container1*/
.container1 {
    width: 1440px;
    margin: auto;
    background-color: #404258;
}

.top {
    display: flex;
    padding-top: 30px;
    margin-left: 200px;
}

.menu {
    display: flex;
    margin-left: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 50px;
}

.menu a:hover {
    color: black;
}

.self {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.title {
    color: white;
}

.title h1 {
    font-size: 72px;
}

#site {
    line-height: 30px;
    font-size: 16px;
}

#me {
    margin-left: 80px;
}

/*container2*/
.container2 {
    width: 1440px;
    margin: auto;
    background-color: #474E68;
}

.about {
    text-align: center;
    color: white;
}

.about h1 {
    font-size: 56px;
    margin: 0;
    padding-top: 50px;
}

.selfie {
    display: flex;
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#my {
    color: white;
    line-height: 30px;
    font-size: 16px;
    padding: 100px;
    padding-bottom: 10px;
}

#button1 button {
    padding: 10px 10px;
    color: #5C2000;
    margin-left: 200px;
}

/*container3*/
.container3 {
    width: 1440px;
    margin: auto;
    background-color: #50577A;
}

.study {
    display: flex;
    margin-left: 80px;
    padding-top: 50px;
    padding-bottom: 200px;
}

#subject {
    color: white;
    line-height: 30px;
    padding: 70px;
    padding-bottom: 10px;
}

#subject p {
    font-size: 16px;
}

#button2 button {
    padding: 10px 10px;
    color: #5C2000;
    margin-left: 200px;
}

/*container4*/
.container4 {
    width: 1440px;
    margin: auto;
    background-color: #6B728E;
}

#fav {
    display: flex;
    padding-top: 20px;
}


#button3 button {
    padding: 10px 10px;
    color: #5C2000;
    margin-left: 650px;
    margin-bottom: 30px;
}

/*container5*/
.container5 {
    width: 1440px;
    margin: auto;
    height: 790px;
    position: relative;
    background-color: #50577A;
}

#contact {
    position: absolute;
    color: white;
    top: 120px;
    left: 170px;
}

#contact h1 {
    font-size: 56px;
    margin-left: 40px;
    line-height: 150px;
}

#contact p {
    font-size: 20px;
}

#button4 {
    position: absolute;
    bottom: 300px;
    left: 330px;
}

#button4 button {
    padding: 10px 10px;
    color: #5C2000;
}

#imagec {
    position: absolute;
    right: 70px;
    top: 200px;
}

/*container6*/
.container6 {
    width: 1440px;
    margin: auto;
    height: 341px;
    position: relative;
    background-color: #6B728E;
}

#footer {
    position: absolute;
    top: 80px;
    left: 500px;
}

#footer a {
    display: flex;
    text-decoration: none;
    color: #5C2000;
    line-height: 30px;
}

#footer a:hover {
    color: black;
}

#bottom {
    color: #EF6D58;
}

#oval {
    position: absolute;
    top: 120px;
    right: 350px;
}

#oval img {
    padding: 20px;
}

#facebook {
    position: absolute;
    top: 155px;
    right: 574px;
}

#twitter {
    position: absolute;
    top: 157px;
    right: 477px;
}

#instagram {
    position: absolute;
    top: 155px;
    right: 385px;
}