h1 {
    text-align: center;
    font-size: 56px;
}

#home {
    background-color: #404258;
}

.title {
    color: white;
    text-align: center;
}

.title h1 {
    font-size: 72px;
    margin-bottom: 50px;
}

#work {
    background-color: #474E68;
}

.works {
    display: flex;
    margin: 50px 0px;
    justify-content: center;
    gap: 50px;
}

#workimage {
    width: 50%;
    display: flex;
    justify-content: center;
}

.my {
    color: white;
    width: 50%;
}

@media screen and (max-width: 800px) {
    .works {
        flex-direction: column;
    }

    #workimage {
        width: 100%;
    }

    .my {
        width: 60%;
        margin: auto;
    }
}

#github {
    background-color: #50577A;
}

#hi {
    color: white;
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
}

#hello {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gitimage {
    width: 50%;
}

@media screen and (max-width: 800px) {
    .works {
        flex-direction: column;
    }

    #hello {
        width: 100%;
    }

    #gitimage {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

#intern {
    background-color: #474E68;
}

#internimage {
    width: 50%;
    display: flex;
    justify-content: center;
}

#other {
    color: white;
    width: 50%;
    margin: auto;
    padding: 0 3vw;
}

@media screen and (max-width: 800px) {
    .works {
        flex-direction: column;
    }

    #internimage {
        width: 100%;
    }
}